{% include 'header.html' %}
    <section>
        <div class="container">
            <div class="card">
                <h2 class="text-center">What we do ?</h2>
                <hr class="text-danger border-2 opacity-50">
                <div class="card-body">
                    We are changing the way in which property is transacted. We are constantly finding ways to simplify real estate agency selection and enhance our client's experiences in real estate. Our team does extensive research to make sure that we are providing you with the best 3 real estate agents in your suburb.
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid p-4 bg-info">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center" >How it works?</h2>
                    <hr>
                    <p>We make finding and comparing suitable real estate agents easy. Many property sellers do not do extensive research when choosing an agent. They typically go with the first agent they converse with. This could result in a loss of $10,000 or more on a $400,000 property. We will research all the agents in your area and will contact and provide you with the best three current agents who can get the best possible price for your property.</p>
                </div>
            </div>
            <h2 class="text-center">Simple 3 Steps to find and compare the best 3 agents.</h2>
            <div class="row">
                <div class="col-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4>Search For Property</h4>
                            <p>You have to type your suburb or postcode and property details to find the agents.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4>You have to type your suburb or postcode and property details to find the agents.</h4>
                            <p>We'll analyze all the agents according to your area, their sellings records, clients reviews, and all the criteria related to your entered details.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4>Send Details</h4>
                            <p>We'll send you all the details about the best real estate agents and also the charges which they will charge you to your provided contact details.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <div class="container">
    <section>
        <h2 class="text-center">FAQ</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
    </section>
   </div>
<br>
   <div class="container p-2">
    <section>
        <div class="card">
            <div class="card-header"><h1 class="text-center">Contact Us</h1></div>
            <div class="card-body">
                <h5>We love to hear from you,If you prefer email us at</h5>
            </div>
        </div>
    </section>
   </div>
   
{% include 'footer.html' %}